
body {
  padding-top: 50px;
  text-align: center;
}

*{
  font-family: Helvetica;
}

.navbar-brand {
  color: #000;
}

.wrapper {
  width:60%;
  border:1px solid gray;
  border-radius: 8px;
  margin: 20px auto;
  padding: 10px;
}

input[type="number"] { 
  width:30px; 
}

.bookings_table input[type="number"] {
  width:30px;
}

.bookings_table{
  font-size: 14px;
  color: gray;
}

table{
  font-size: 14px;
  color: gray;
}

.errors {
  color:#c00;
}

.calendar_container {
	margin: auto;
	width: 80%;
}

/*#calendar*/

#booking_start_time_1i, #booking_start_time_2i, #booking_start_time_3i, #booking_start_time_5i{

  cursor: pointer;
  border: 0.5px solid 2px;
  -webkit-user-select: none;
  -webkit-appearance: button;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  display: inline-block;
  padding: 11px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: block;
  width: 100%;

}


#booking_start_time_4i, #booking_start_time_5i {
  width: 160.5px;
  padding: 5px;
  border: 0.5px solid 2px;
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  padding: 10px 16px;
  font-size: 15px;
  line-height: 1.3333333;
  border-radius: 6px;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  -webkit-appearance: button;
  padding: 10px;
  text-align: center;
}

#booking_length {
    width: 160.5px;
    padding: 10px;
    text-align: center;
}

/*--------------------------------------------------
    [TRANSITION]
----------------------------------------------------*/
/* Cubic Bezier Transition */
/*--------------------------------------------------
    [RGBA Opacity]
----------------------------------------------------*/
/****
Boby
****/
body {
  background-color: #fff;
}

/******
General 
******/
/* Theme Font Color */
.theme-font {
  color: #4db3a4 !important;
}

/******
Page Footer 
******/
.page-prefooter {
  background: #343b44;
  color: #647183;
}
.page-prefooter h2 {
  color: #647183;
}
.page-prefooter a {
  color: #4db3a4;
}
.page-prefooter .subscribe-form .form-control {
  background: #343b44;
  border-color: #343b44;
  color: #647183;
}
.page-prefooter .subscribe-form .form-control::-moz-placeholder {
  color: #939eac;
  opacity: 1;
}
.page-prefooter .subscribe-form .form-control:-ms-input-placeholder {
  color: #939eac;
}
.page-prefooter .subscribe-form .form-control::-webkit-input-placeholder {
  color: #939eac;
}
.page-prefooter .subscribe-form .btn {
  color: #fff;
  background-color: #58b8a9;
}
.page-prefooter .subscribe-form .btn:hover, .page-prefooter .subscribe-form .btn:focus, .page-prefooter .subscribe-form .btn:active, .page-prefooter .subscribe-form .btn.active {
  color: #fff;
  background-color: #46a597;
}
.open .page-prefooter .subscribe-form .btn.dropdown-toggle {
  color: #fff;
  background-color: #46a597;
}
.page-prefooter .subscribe-form .btn:active, .page-prefooter .subscribe-form .btn.active {
  background-image: none;
  background-color: #3f9387;
}
.page-prefooter .subscribe-form .btn:active:hover, .page-prefooter .subscribe-form .btn.active:hover {
  background-color: #429a8d;
}
.open .page-prefooter .subscribe-form .btn.dropdown-toggle {
  background-image: none;
}
.page-prefooter .subscribe-form .btn.disabled, .page-prefooter .subscribe-form .btn.disabled:hover, .page-prefooter .subscribe-form .btn.disabled:focus, .page-prefooter .subscribe-form .btn.disabled:active, .page-prefooter .subscribe-form .btn.disabled.active, .page-prefooter .subscribe-form .btn[disabled], .page-prefooter .subscribe-form .btn[disabled]:hover, .page-prefooter .subscribe-form .btn[disabled]:focus, .page-prefooter .subscribe-form .btn[disabled]:active, .page-prefooter .subscribe-form .btn[disabled].active, fieldset[disabled] .page-prefooter .subscribe-form .btn, fieldset[disabled] .page-prefooter .subscribe-form .btn:hover, fieldset[disabled] .page-prefooter .subscribe-form .btn:focus, fieldset[disabled] .page-prefooter .subscribe-form .btn:active, fieldset[disabled] .page-prefooter .subscribe-form .btn.active {
  background-color: #58b8a9;
}
.page-prefooter .subscribe-form .btn .badge {
  color: #58b8a9;
  background-color: #fff;
}
.page-footer {
  background: #3b434c;
  color: #a2abb7;
}

/* Pre-footer */
.page-prefooter {
  padding: 30px 0;
  clear: both;
}
.page-prefooter h2 {
  font-weight: 200;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0 12px;
}
.page-prefooter .subscribe-form {
  padding-top: 5px;
}
.page-prefooter .subscribe-form .form-control {
  font-size: 12px;
  padding: 0 14px;
  height: 36px;
}
.page-prefooter .subscribe-form .btn {
  height: 34px;
  text-transform: uppercase;
  padding: 7px 16px;
}
.page-prefooter .social-icons {
  padding-top: 9px;
}
.page-prefooter .social-icons li {
  opacity: 0.35 ;
  filter: alpha(opacity=35) ;
}
.page-prefooter .social-icons li:hover {
  opacity: 1 ;
  filter: alpha(opacity=100) ;
}
.page-prefooter p,
.page-prefooter address {
  margin: 0;
}

/* Footer */
.page-footer {
  font-size: 12px;
  font-weight: 300;
  padding: 17px 0;
}

@media (max-width: 991px) {
  /* 991px */
  .page-prefooter {
    padding-bottom: 10px;
  }
  .page-prefooter .footer-block {
    margin-bottom: 20px;
  }
  .page-prefooter > .container {
    width: 100%;
    max-width: none !important;
    margin: 0 !important;
  }

  .page-footer > .container {
    width: 100%;
    max-width: none !important;
    margin: 0 !important;
  }
}
/* Scroll Top */
.scroll-to-top {
  padding: 2px;
  text-align: center;
  position: fixed;
  z-index: 9990;
  bottom: 5px;
  display: none;
  right: 20px;
}
.scroll-to-top > i {
  display: inline-block;
  font-size: 32px;
  opacity: 0.7 ;
  filter: alpha(opacity=70) ;
}
.scroll-to-top:hover {
  cursor: pointer;
}
.scroll-to-top:hover > i {
  opacity: 1 ;
  filter: alpha(opacity=100) ;
}

@media (max-width: 991px) {
  /* 991px */
  .scroll-to-top {
    right: 10px;
  }
  .scroll-to-top > i {
    font-size: 28px;
  }
}
/***
Theme Panel
***/
.btn-theme-panel {
  margin-top: 25px;
}
.btn-theme-panel .btn {
  opacity: 0.6 ;
  filter: alpha(opacity=60) ;
  padding: 0 6px;
}
.btn-theme-panel .btn > i {
  font-size: 24px;
  color: #acbac6;
}
.btn-theme-panel .btn:hover {
  opacity: 1 ;
  filter: alpha(opacity=100) ;
}
.btn-theme-panel.open .btn {
  opacity: 1 ;
  filter: alpha(opacity=100) ;
}

.theme-panel {
  z-index: 999;
  min-width: 675px;
  padding: 20px 10px;
  font-family: "Open Sans", sans-serif;
}
.theme-panel h3 {
  margin: 8px 0 8px 0;
  font-size: 15px;
  padding-left: 12px;
}
.theme-panel .seperator {
  border-left: 1px solid #EFF2F4;
}
.theme-panel .theme-colors {
  list-style: none;
  padding: 0;
  margin: 0;
}
.theme-panel .theme-colors > li.theme-color {
  padding: 8px 12px;
}
.theme-panel .theme-colors > li.theme-color:hover, .theme-panel .theme-colors > li.theme-color.active {
  background: #f5f7f8;
}
.theme-panel .theme-colors > li.theme-color:hover {
  cursor: pointer;
}
.theme-panel .theme-colors > li.theme-color > .theme-color-view {
  float: left;
  margin-top: 0px;
  margin-right: 8px;
  display: inline-block;
  border-radius: 10px !important;
  height: 20px;
  width: 20px;
}
.theme-panel .theme-colors > li.theme-color > .theme-color-name {
  display: inline-block;
  color: #777;
  font-size: 14px;
  font-weight: 300;
  padding-top: -4px;
}
.theme-panel .theme-colors > li.theme-color.theme-color-default .theme-color-view {
  background: #4DB393;
}
.theme-panel .theme-colors > li.theme-color.theme-color-red-sunglo .theme-color-view {
  background: #E26A6A;
}
.theme-panel .theme-colors > li.theme-color.theme-color-red-intense .theme-color-view {
  background: #E35B5A;
}
.theme-panel .theme-colors > li.theme-color.theme-color-blue-hoki .theme-color-view {
  background: #67809F;
}
.theme-panel .theme-colors > li.theme-color.theme-color-blue-steel .theme-color-view {
  background: #4B77BE;
}
.theme-panel .theme-colors > li.theme-color.theme-color-green-haze .theme-color-view {
  background: #44B6AE;
}
.theme-panel .theme-colors > li.theme-color.theme-color-purple-plum .theme-color-view {
  background: #8775A7;
}
.theme-panel .theme-colors > li.theme-color.theme-color-purple-studio .theme-color-view {
  background: #8E44AD;
}
.theme-panel .theme-colors > li.theme-color.theme-color-yellow-orange .theme-color-view {
  background: #F2784B;
}
.theme-panel .theme-colors > li.theme-color.theme-color-yellow-crusta .theme-color-view {
  background: #F3C200;
}
.theme-panel .theme-settings {
  list-style: none;
  padding: 0;
  margin: 0;
}
.theme-panel .theme-settings > li {
  padding: 8px 12px;
  font-size: 14px;
  font-weight: 300;
  color: #777;
}
.theme-panel .theme-settings > li .form-control {
  color: #777;
  margin-top: -3px;
  float: right;
}

@media (max-width: 767px) {
  /* 767px */
  .theme-panel {
    left: 20px;
    right: 20px;
    min-width: 285px;
  }
  .theme-panel .seperator {
    border: 0;
  }
  .theme-panel .theme-settings .form-control {
    width: 105px !important;
  }
}
/***  
Page Loading      
***/
.page-on-load {
  background: #fefefe;
}
.page-on-load .page-header,
.page-on-load .page-container,
.page-on-load .page-prefooter,
.page-on-load .page-footer,
.page-on-load > .clearfix {
  display: none;
  transition: all 2s;
}


.social-icons {
  padding: 0;
  margin: 0;
}
.social-icons:before, .social-icons:after {
  content: " ";
  display: table;
}
.social-icons:after {
  clear: both;
}
.social-icons li {
  float: left;
  display: inline;
  list-style: none;
  margin-right: 5px;
  margin-bottom: 5px;
  text-indent: -9999px;
}
.social-icons li > a {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  width: 28px;
  height: 28px;
  display: block;
  background-position: 0 0;
  background-repeat: no-repeat;
  transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
}
.social-icons li:hover > a {
  background-position: 0 -38px;
}
.social-icons li .rss {
  background: url(/assets/rss.png) no-repeat;
}




