<h1>New Invite Request</h1>

<p>
  <h3>Device: <%= @lead.devise %></h3>
  <h3>Name: <%= @lead.name %></h3>
  <h3>Email: <%= @lead.email %></h3>
  <h3>Social Media link: <%= @lead.social_media %></h3>
</p>